NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=8uDmfYPMBaiLLwfZGAnhNaDm48kx19hD8kPdiR7XiRLD
NEXT_PUBLIC_USDC_MINT=
FAUCET_MINT_AUTHORITY_SECRET=
FAUCET_AMOUNT=100
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
